body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #999;
    text-align: center;
  }
  
  .mypopoverBtn {
    line-height: 1.5;
    border-radius: 5px;
    border: none;
    background-color: rgba(193, 37, 37, 0.687);
    color: white;
    cursor: pointer;
    margin: 50vh 5px;
    padding: 10px;
  }
  
  .popover {
    position: absolute;
    width: 250px;
    margin: 0 50%;
    transform: translate(-50%, 110%);
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #c1c1c1;
    border-radius: 5px;
    padding: 10px 5px;
  }
  
  p {
    font-size: medium;
    color: rgb(190, 178, 159);
  }
  
  .popover_2 {
    display: block;
  }
  
  .arrow {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    background-color: white;
    border: 1px solid #c1c1c1;
    border-left-style: none;
    border-top-style: none;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
.colorP {
    color:rgba(53, 44, 44, 0.295);
    background-color: #999;
}