

form {
    margin-top: 100px;
}

:invalid {
    /* border: 1px solid red; */
}

.mypopover {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    border: 1px solid #ced4da;
    background-color: red;
    color: white;
    cursor: pointer;
    width: 150px;
    margin: 5px;
    padding: 10px;
    margin-left: 50px;
}

.popover {
    border: 1px solid black;
    border-radius: 20px;
    width: 150px;
    margin: 2%;
    padding: 2%;
}

p {
    background-color: rgba(216, 216, 223, 0.872);
}